body{
    background-color: #EBE5CF;
}

header{
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 30fr;
    background-color: #343a40;
    color: green;
}


#shoppiesTitle{
    color: #004c3f;
    width: 100%;
    text-align: center;
}

.input-group{
    width: 70%;
    margin: auto;
}

input#inpMovie{
    padding: 0.6em;
}

button#searchMovie{
    border-radius: 3px;
    background-color: #008060;
    color: white;
    min-width: 5em;
    max-width: 6em;
}

button#searchMovie:hover{
    background-color: darkgreen;
}

#searchResult{
    text-align: center;
    font-weight: bold;
}



#container{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3em;
    margin-bottom: 10em;
}



/*movies results styling*/



#container-movies{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
}

.listOfMovies {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
}

.movieTitleWithYear{
    text-align: center;
}

.movieButtons{
    width: max-content;
    height: 2em;
    background-color: #0fb85c;
    color: white;
}

.poster-image{
    display: none;
}




/*nominations styling*/


#container-nominations{
    margin-top: 3em;
}

#container-nominations #nominationsTitle{
    color: #004c3f;
    text-align: center;
}

#container-nominations #nominationsTitle span{
    float: right;
}

#nominations table{
    width: 100%;
}

.titles:hover{
    color: darkblue;
}

#nominations-submission, #submitMovies{
    text-align: center;
}

#numberOfNominations{
    font-size: 2em;
}

.deleteButtons{
    background-color: red;
}

#errorMessage{
    color: red;
}

#submitMovies{
    background-color: #0fb85c;
    color: black;
    font-size: 1.5em;
}

#submitMovies:hover{
    background-color: greenyellow;
    box-shadow: 0 8px 6px -6px black;
}

#numberOfNominations{
    font-size: 1.3em;
    font-weight: bold;
}


/*footer*/


footer{
    background-color: #343a40;
    border: 2px solid black;
    left: 0;
    bottom: -3px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    margin-top: -130px;
    position: fixed;
}

footer p{
    color: white;
}


@media all and (min-width: 768px) {


    #content{
        margin-left: 6em;
        margin-right: 6em;
    }

    header h1{
        margin-left: 2.5em;
    }

    #shoppiesTitle{
        text-align: left;
    }

    .input-group{
        margin: revert;
        min-width: 40%;
        max-width: 50%;
    }

    #searchResult{
        text-align: left;
    }




    #container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.4em;
    }


    /*movies results styling*/

    #container-movies{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2em;
        background-color: antiquewhite;
    }

    .listOfMovies{
        text-align: center;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0.5em;
    }

    .poster-image{
        display: inline;
        width: 10em;
        height: 13em;
    }


    /*nominations styling*/

    #container-nominations{
        margin-top: 0;
        background-color: antiquewhite;
        height: max-content;
    }

    #nominationsSavedMessage{
        display: none;
    }

    #nominations{
        width: 80%;
        margin: auto;
    }

    #submitMovies{
        font-size: 2em;
    }

    #numberOfNominations{
        margin-left: 2.5em;
        font-size: 2em;
        font-weight: bold;
    }
}