body{
    background-color: #EBE5CF;
}

header{
    text-align: center;
    background-color: #c8b87c;
    padding: 1em;
}

header h1, header h3{
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

header h1{
    font-weight: bolder;
    color: white;
}

header h3{
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}


#container-page{
    position: relative;
    min-height: 100vh;
}

#content{
    margin-top: 3em;
    padding-bottom: 2.5em;
}



.input-group{
    width: 70%;
    margin: auto;
}

input#inpMovie{
    padding: 0.6em;
}

button#searchMovie{
    border-radius: 3px;
    background-color: #008060;
    color: white;
    min-width: 5em;
    max-width: 6em;
}

button#searchMovie:hover{
    background-color: darkgreen;
}

#searchResult{
    text-align: center;
    font-weight: bold;
}



#container{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3em;
    margin-bottom: 10em;
}



/*movies results styling*/



#container-movies{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
}

.listOfMovies {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    /*justify-items: center;*/
    /*justify-content: center;*/
}

.movieTitleWithYear{
    text-align: right;
}

.movieButtons{
    width: max-content;
    height: 2em;
    background-color: #0fb85c;
    color: white;
}

.poster-image{
    display: none;
}




/*nominations styling*/


#container-nominations{
    margin-top: 3em;
    background-color: antiquewhite;
    padding: 2em;
}

#container-nominations #nominationsTitle{
    color: #004c3f;
    text-align: center;
}

#container-nominations #nominationsTitle span{
    float: right;
}

#nominations table{
    width: 100%;
}

.titles:hover{
    color: darkblue;
}

#numberOfNominations{
    font-size: 1.3em;
    font-weight: bold;
}

#deleteIconImg{
    width: 3em;
    height: 2em;
    filter: invert(42%) sepia(82%) saturate(1873%) hue-rotate(344deg) brightness(94%) contrast(86%);
}


/*footer*/


footer{
    background-color: #343a40;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3em;
}

footer p{
    color: white;
}


@media all and (min-width: 768px) {

    #content{
        margin-left: 3em;
        margin-right: 3em;
    }

    .input-group{
        margin: revert;
        min-width: 40%;
        max-width: 50%;
    }

    #searchResult{
        text-align: left;
    }


    #container{
        grid-template-columns: 4fr 8fr;
        grid-gap: 1.4em;
    }


    /*movies results styling*/

    #container-movies{
        grid-template-columns: 1fr;
        grid-gap: 2em;
        background-color: whitesmoke;
    }

    .listOfMovies{
        text-align: center;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0.5em;
    }

    .poster-image{
        display: inline;
        width: 10em;
        height: 13em;
    }

    #container-nominations, #container-movies{
        padding: 1.5em;
    }

    .movieTitleWithYear{
        text-align: center;
    }


    /*nominations styling*/

    #container-nominations{
        margin-top: 0;
        height: max-content;
        text-align: center;
    }

    #nominationsSavedMessage{
        display: none;
    }

    #nominations{
        margin: auto;
    }

    #submitMovies{
        font-size: 2em;
    }

    #numberOfNominations{
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
}


@media all and (min-width: 948px) {
    #container-movies{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 1126px){
    #container-movies{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media all and (min-width: 1488px) {
    #container-movies{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@media all and (min-width: 1758px) {
    #container{
        grid-template-columns: 8fr 4fr;
        grid-gap: 1.4em;
    }
    #container-movies{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}



